ul.HideListDesign,
ol.HideListDesign {
  list-style-type: none;
  padding: 8px;
}

/* make each key value pair a flexbox container */
.KeyValueWrap {
  display: flex;
  flex-direction: row; /* this is the default, but I like explicit */
  /* wrap so items can go to next line if horizontal space becomes to narrow */
  flex-wrap: wrap;
  align-items: center;
}

.KeyValueWrap > :nth-child(1) {
  /* flex: 1 0 120px; */
  /* I rather write all flex details out */
  flex-basis: 120px; /* minimal size*/
  max-width: 220px; /* maximal size*/
  flex-grow: 1; /* grow untill max width */
  flex-shrink: 0; /* never shrink smaller then flex-basis */
  
}

.KeyValueWrap > :nth-child(2) {
  flex-basis: 80px; /* minimal size*/
  flex-grow: 1; /* grow forever, since no max-width is specified */
  flex-shrink: 0; /* never shrink smaller then flex-basis */
}