.HeaderImage,
.SecondaryHeaderImage {
  max-width: 300px;
  max-height: 43px;
  padding: 10px 0 10px 10px;
}

@media only screen and (max-width: 700px) {
  .HeaderImage {
    transform-origin: left;
    transform: scale(0.85);
  }
  .SecondaryHeaderImage {
    display: none;
  }
  .HeaderTitle {
    display: none;
  }
  .SecondaryHeaderImage {
    display: none;
  }
  .HeaderTitle {
    display: none;
  }
}

.GridCell {
  width: 300px;
  height: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.29);
}
.TileTitle {
  position: absolute;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  overflow: hidden;
}
.TileTitle div {
  position: absolute;
  color: #747474;
  top: 12px;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  font-size: 14px;
}
.TileHandle {
  position: absolute;
  right: 5px;
  top: 7px;
  color: #d8d8d8;
}
.BackButton {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 20px;
  width: 185px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  color: #333;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .BackButton {
    width: 60px;
    transform: scale(0.85);
  }
}
.BackButton i {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 10px;
  left: 10px;
}
.BackButton:hover {
  background: #eeeeee;
}

.SettingsButton {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 200px;
  top: 20px;
  width: 145px;
  height: 40px;
  text-align: center;
  background: #ffffff;
  color: #333;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
@media only screen and (max-width: 700px) {
  .SettingsButton {
    right: 70px;
    width: 60px;
    transform: scale(0.85);
  }
}
.SettingsButton i {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 20px;
}
.SettingsButton:hover {
  background: #eeeeee;
}

.Footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  padding: 5px;
  color: #ccc;
}

.SettingsMenu {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #E0F9ED, #fff);
  color: #115E67;
  padding: 20px 40px;
}

.SettingsMenuMain {
  display: flex;
  min-height: 300px;
}

.SettingsMenu h2 {
  text-decoration: underline;
  color: #3c7d82;
}

.SettingsMenuBackButton i {
  font-size: 40px;
  cursor: pointer;
}

.MapSettings {
  margin-left: 100px;
}

.MapStyleSelection {
  font-size: 18px;
  font-weight: bold;
}

.MapStyleSelection input {
  margin: 0 10px 15px 0;
  cursor: pointer;
}

.SettingsMenuSaveButton {
  margin-top: 50px;
  background-color: #3c7d82;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.GridLayoutHeaderContainer {
  position: absolute;
  min-width: 100%;
  height: 82px;
}

.GridLayoutLogoContainer {
  position: relative;
  float: left;
  height: 72px;
  width: 234px;
  padding: 10px;
}

.GridLayoutHeaderTitle {
  white-space: nowrap;
  text-align: center;
  color: #313131;
  height: 82px;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 25%;
}

.GridLayoutHeaderButtons {
  display: flex;
  align-items: center;
}

.GridLayoutContainer {
}

.logo {
  padding: 0px;
  bottom: 0;
  width: 60px;
}

.logoContainer {
  padding-top: 10px;
  width: 200px;
  margin: auto;
}

.logoContainerSpan {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

a .logoContainerSpan {
  color: #adadab;
}


.privacyContainerSpan {
	float: 'right';
	width: 200px;
}
