.Tile {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.Tile:hover div {
  font-weight: 500;
}

.TileTitle {
  /* position: absolute; */
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #cdcdcd;
  background-color: #fff;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 999999;
  font-size: 40px;
}
.TileTitle:active {
}
.TileTitle div {
  /* position: absolute; */
  top: 12px;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  font-size: 14px;
}
.TileHandle {
  position: absolute;
  right: 5px;
  top: 9px;
}
.TileHeaderText {
  font-size: 18px !important;
  line-height: 18px;
}
